@import "tailwindcss";


body {
  background-color: #fffefc;
}

.navBadCustoms {
  border-color: #5d784b;
  background-color: #b4c9a6;
}


h1{
  color: #cbe388;
}

h2{
  color: #5b7045;

}

.navTexts{
  color: #d9f883;
}
