@import "tailwindcss";


body {
  background-color: #fff9e1;
}

navBadCustoms {
  border-color: red;
}


h1{
  color: #ADC178;
}

h2{
  color: #A98467;
}

.navTexts{
  color: #779761;
}

/*#breeze {
}